/*=== TITLE & GENERAL===*/
html {
  font-size: 16px;
}

body {
	font-family: $subFont, sans-serif;
}

body.toolbar-drawer {
    padding-top: 1px !important;
}

h1, h2, h3 {
	font-family: $mainFont, sans-serif;
}
p {
	font-family: $subFont, serif;
}
.field_title, .views-field-title {
	font-family: $mainFont,serif;
	font-size: $fontSizeTitle-normal;

}
a {
  color: $mainColor;
  &:hover {
  	color: #333;
  }
}

footer {
	margin-top : 2rem;
}


.nav-tabs {
	margin-bottom:15px;
}

.field-collection-view {
	margin:0px;
}

.field-collection-container {
	border-bottom:0px;
}

/*=== GENERAL CLASS ===*/

.navbar-brand {
	font-family: $mainFont, sans-serif;
}

.navbar-default .navbar-nav > .active > a {
	background-color:white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color:white;
}

h1.page-header {
	margin-top:25px;
}

.view-section-archeologie, 
.view-seection-actualites, 
.view-section-entretiens,
.view-liste-chercheurs,
.view-liste-collaborateurs {
  .views-row {
  margin-top:15px;
  padding-bottom:15px;
  border-bottom: 1px solid $greyLightColor;
  }
}
.view-liste-chercheurs,
.view-liste-collaborateurs {
  img {
    float: right;
    border-radius: 50%;
  }
}

.date-display-single, .field_created, .field-name-field-date-actualite, .date-display-range{
	font-family: $subFont, sans-serif;
	color : $greyColor;
	font-size:1.1em;
}


.container .jumbotron {
	border-radius: 0px;
}

.field-collection-view {
	border-bottom : none;
}



/*=== JUMBTRON ===*/
.highlighted.jumbotron h1 {
	font-size:$fontSizeTitle-full;
}


