// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
//@import 'overrides';

// Color 
$mainColor : #3B495A;
$mainFont : "brandon-grotesque";
$subFont : "adelle";
$greyColor : #AAB1B9;
$greyLightColor : #ECECEC;
$secondColor : #1397E1;

@import 'base';
@import 'layouts/navbar';
@import 'layouts/footer';
@import 'components/flexslider';
@import 'themes/home';
@import 'themes/page-publication';


/*=== RESET===*/
body.toolbar-drawer {
    padding-top: 1px !important;
}
.nav-tabs {
	margin-bottom:0px;
}

/*=== GENERAL CLASS ===*/

.navbar-default .navbar-nav > .active > a {
	background-color:white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color:white;
}

h1.page-header {
	margin-top:25px;
}

.view-section-archeologie .views-row, .view-seection-actualites .views-row , .view-section-entretiens .views-row {
	margin-top:15px;
	padding-bottom:15px;
	border-bottom: 1px solid $greyLightColor;
}

.date-display-single, .field_created {
	font-family: "brandon-grotesque", sans-serif;
	color : $greyColor;
	font-size:1.1em;
}

.field_individu {
	color:$secondColor;	
}

.container .jumbotron {
	border-radius: 0px;
}

.view-footer a {
	@extend .btn;
	border-color : $greyColor;
}
