// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Color 
$mainColor : #3B495A;

a {
  color: #337ab7;
  &:hover {
  	color: #333;
  }
}
/*=== TITLE ===*/
h1, h2, h3 {
	font-family: "brandon-grotesque",sans-serif;
}
p {
	font-family: "adelle",serif;
}
/*=== END TITLE ===*/

/*=== NAVBAR ===*/
.navbar-warpper {
	background-color:$mainColor;
	font-family: "brandon-grotesque",sans-serif;
}


.navbar-default {
	background-color:$mainColor;
	border-color: $mainColor;
	.navbar-nav  > li > a {
		color:white;
		font-size: 1.3em;
	}
	.navbar-brand {
		color:white;
		font-size: 1.3em;
	}
}
.menu.nav.navbar-nav {
  z-index: 999;
}
.navbar-default .navbar-nav > li > a {
  z-index: 999;
}

.navbar-nav li a {
	font-size:1em;
}
/*=== END NAVBAR ===*/


/**/
/**/
