// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Color 
$mainColor : #3B495A;

/*=== RESET===*/
body.toolbar-drawer {
    padding-top: 0px !important;
}

/*=== TITLE & GENERAL===*/
h1, h2, h3 {
	font-family: "brandon-grotesque",sans-serif;
}
p {
	font-family: "adelle",serif;
}
.field_title {
	font-family: "adelle",serif;
	font-size: 1.5em;
}
a {
  color: $mainColor;
  &:hover {
  	color: #333;
  }
}

/*=== END TITLE ===*/

/*=== NAVBAR ===*/
.navbar-warpper {
	background-color:$mainColor;
	font-family: "brandon-grotesque",sans-serif;
}
.navbar-default {
	background-color:$mainColor;
	border-color: $mainColor;
	.navbar-nav  > li > a {
		color:white;
		font-size: 1.3em;
		  &:hover {
		  	color: white;
		  }
	}
	.navbar-brand {
		color:white;
		font-size: 1.3em;
	}
	.logo img {
		width:50px;
	}
}
.menu.nav.navbar-nav {
  z-index: 999;
}
.navbar-default .navbar-nav > li > a {
  z-index: 999;
}

.navbar-nav li a {
	font-size:1em;
}
/*=== END NAVBAR ===*/


/**/
/**/
