.view-actualites-bloc-autres, .view-archeologie-autre, .view-section-autres-projets-cr-ations {
	.views-field-title .field-content  {
		font-size:$fontSizeContent-big;
		line-height:1.1rem;
		line-height: 0.9rem;

	}
	.views-field-field-type-activite .field-content  {
		font-size:$fontSizeContent-normal;
		line-height:1.1rem;
		font-weight:700;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}
}

.view-actualites-bloc-autres, .view-archeologie-autre, .view-contenus-vs-entretien {
	.views-field-field-image {
		img {
			margin-bottom: 0.8rem;
		}
	}
}
.field-name-field-source-nouvelle .field-items {
	font-size:$fontSizeContent-big;
	font-weight:700;
}

.field-name-field-type-activite .field-items {
	font-size:$fontSizeContent-big;
	font-weight:700;
}

#block-views-actualites-bloc-autres-block, 
#block-views-archeologie-autre-block, 
#block-views-contenus-vs-entretien-block-2,
#block-views-contenus-vs-entretien-block-6,
#block-views-c81f793af467f0b5d9e703d8689d571c,
#block-views-contenus-vs-entretien-block {
	h2.block-title {
		font-size:$fontSizeContent-big;
		text-transform: uppercase;
		text-decoration: underline;
	}
}

// Connexe

.view-contenus-vs-entretien {
	.views-field-type {
		.field-content {
			font-size:$fontSizeContent-normal;
			font-weight:700;	
		}
	}
	.views-field-title {
		line-height:1.6rem;
		.field-content {
			font-size: $fontSizeContent-big;
		}
	}
	.views-field-field-individu {
		font-weight:700;	
	}
}

// Header et Logo 

.navbar-default .logo img {
  width: auto;
}
.navbar-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.front .views-exposed-widgets {
  margin-bottom: 0;
}
.navbar-header {
  z-index: 9;
  position: relative;
  padding-right: 1em;
}
#navbar nav {
  padding-top: 15px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.4em;
}
.not-logged-in #block-views-exp-recherche-generale-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 25px;
}


// Entretiens: Espace sous l'audio
.field-name-field-media-referent {
  margin-bottom: 2em;
}

.node-type-entretien .node-audio h2 {
  display: none;	
}

// Footer: Liens
.region-footer a {
  color: #fff;
  z-index: 9;
  position: relative;
}

// Projet de creation: Blocs dans la colonne de droite
.block-cck-blocks h2.block-title {
  margin-top: 0;
}
.node-type-projet-creation .region-sidebar-second {
  margin-top: 25px;
}
.node-type-projet-creation .field-collection-item-field-responsable .field-name-field-individu a {
  margin-bottom: 1rem;
}

