.flexslider {
	margin: 0 0 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.optionset-carrousel-fiche-collection-accueil .field-name-field-individu, .optionset-carrousel-fiche-collection-accueil .views-field-field-type-oeuvre{
	font-size: $fontSizeContent-big;
}

.flex-direction-nav a:before {
  font-size: 36px;
  text-shadow: 1px 1px 3px #fff;
  color:#000;
}