.flexslider {
	margin: 0 0 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.optionset-carrousel-fiche-collection-accueil .field-name-field-individu, .optionset-carrousel-fiche-collection-accueil .views-field-field-type-oeuvre{
	font-size: $fontSizeBody;
}