/* Recherche */
.views-exposed-form .views-exposed-widget .form-submit:after {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 0;
  width: 34px;
  height: 34px;
  color: #000;
  content: "\e003";
  font-size: 20px;
  font-family: 'Glyphicons Halflings';
  text-align: center;
}

.views-exposed-form .views-exposed-widget .form-submit {
  background-color: transparent;
  border: medium none;
  height: 34px;
  margin: 10px 12px 0;
  padding: 0;
  position: absolute;
  right: 0;
  font-size: 0;
  top: 0;
  width: 34px;
  z-index: 3;
}

#block-views-exp-recherche-generale-page {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin: 10px 12px 0;
  }
  .views-exposed-form .views-exposed-widget .form-submit:after {
    color: #fff;
  }
  #edit-search-api-views-fulltext-wrapper {
    display:none;
  }
}

/* OnClick Search Button */
#search-widget .well {
  padding:0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* Theme bouton Toggle */
#block-views-exp-recherche-generale-page .btn-primary {
  content: "\f002";
  color: #000;
  background-color: transparent;
  border-color: transparent;
  border: none;
  padding: 12px 12px;
  font-size: 20px;
  line-height: 1;
  border-radius: 0;
}
.dropup, .dropdown {
  position: relative;
  text-align: right;
}
.dropdown.views-exposed-form .views-exposed-widget {
  padding:0;
}
.navbar-nav {
  position: relative;
  z-index: 1;
}
/* Alignement Loupe selon contexte */
.not-logged-in .region-sidebar-first .views-exposed-form .views-exposed-widget .form-submit {
  top: 20px;
}
.logged-in .region-sidebar-first .views-exposed-form .views-exposed-widget .form-submit {
  top: 0;
}
.not-logged-in .region-navigation .views-exposed-form .views-exposed-widget .form-submit {
  top: 0;
}
.logged-in .region-navigation .views-exposed-form .views-exposed-widget .form-submit {
  top: 0;
}
/* Loupe sur Collection */
.page-collection.not-logged-in .region-sidebar-first .views-exposed-form .views-exposed-widget .form-submit {
  top: 0;
}
.page-collection.logged-in .region-sidebar-first .views-exposed-form .views-exposed-widget .form-submit {
  top: -10px;
}
.page-collection.not-logged-in .region-navigation .views-exposed-form .views-exposed-widget .form-submit {
  top: 5px;
}
.page-collection.logged-in .region-navigation .views-exposed-form .views-exposed-widget .form-submit {
  top: -10px;
}

/* Ameliorer l'espacement des resultats */
.view-recherche-generale .views-field {
  padding-right: 1em;
}
