// Page Collection 
.page-collection {
	aside {
		ul {
			list-style:none;
			padding:0;
			font-size:$fontSizeContent-normal;
		}
	}
	.views-field-field-createur-field-individu {
		font-weight:700;
	}
	.views-field-title {
		.field-content {
			font-size:$fontSizeTitle-small;
		}
	}
	 .views-field-field-type-oeuvre {
		.field-content {
			background-color:$mainColor;
			color:white;
			padding: 0px 6px;
		}
	 }
	 .views-exposed-form .views-exposed-widget .form-submit {
	 	  margin: 30px 12px 0 !important;
	 }
	 .pagination > .active > span {
	 	background-color:$mainColor;
    	border-color: $mainColor;
	 }
	 .pagination > li > a {
	 	color:$mainColor;
	 }
	 .well {
	 	background-color:#eeeeee;
	 	border-radius:2px;
	 	border: none;
	 	box-shadow:none;
	 }
}

.node-type-fiche-collection {
	.field-name-field-createur {
		.field-collection-view {

		}
		.field-name-field-individu {
			font-weight:700;
		}
		.field-collection-container {
			margin-bottom:0;
		}
	}
	.region-sidebar-second {
		.field-label {
			font-size: $fontSizeTitle-extrasmall;
		}
		.field-items {
			font-size: $fontSizeTitle-extrasmall;
		}
	}
	.field-name-field-discours-notes, .field-name-field-relation-projet {
			font-size: $fontSizeContent-big;
			margin-bottom:1rem;

	}
	.field-name-field-ref-biblio {
		.field-item {
			margin-bottom:$margin-bottom-paragraphe;
		}
	}
}


.block-facetapi {
	h2 {
		font-size:$fontSizeTitle-normal;
	}
}

#block-views-carousel-medias-sur-noeud-block {
	.block-title {
		display: none;
	}
}

.node-fiche-collection {
	margin-top:10px;
	.field-name-field-type-oeuvre {
		font-size: 1.5em;
		color:$greyColor;
	}
	.field-name-title-field {
		font-size: 2.5em;
		font-family: $mainFont, sans serif;
	}
}
