// Page Collection 
.page-collection {
	aside {
		ul {
			list-style:none;
			padding:0;
			font-size:$fontSizeContent-normal;
		}
	}
	.views-field-field-createur-field-individu {
		font-weight:700;
	}
	.views-field-title {
		.field-content {
			font-size:$fontSizeTitle-small;
		}
	}
	 .views-field-field-type-oeuvre {
		.field-content {
			background-color:$mainColor;
		}
	 }
}

.block-facetapi {
	h2 {
		font-size:$fontSizeTitle-normal;
	}
}

#block-views-carousel-medias-sur-noeud-block {
	.block-title {
		display: none;
	}
}

.node-fiche-collection {
	margin-top:10px;
	.field-name-field-type-oeuvre {
		font-size: 1.5em;
		color:$greyColor;
	}
	.field-name-title-field {
		font-size: 2.5em;
		font-family: $mainFont, sans serif;
	}
}
