.view-banque-image-accueil {
  position: relative;
  overflow: hidden;
  background: black;
  .views-row-first {
    @extend .container;
  }
  .views-field-body .field-content {
    position: relative;
    z-index: 2;
    padding: 70px 00px;
    color: white;
    h1 {
      font-size: 5em;
    }
  }
  .views-field-field-image .field-content img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    opacity: .6;
  }

  @media(max-width:767px) {
    .views-field-field-image .field-content img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: auto;
      height: auto;
      opacity: .6;
    }
    .views-field-body .field-content {
    	padding:1rem 0;
	}
    .views-field-field-image .field-content img.img-responsive {
      max-width: none;
    }
    .views-field-body .field-content {
    	h1 {
    	font-size: 3rem;
    	margin: 0px 0.4rem;
    	}
    	h2,h3 {
    	margin: 0.7rem 0.4rem;
    	}
    	p {
    	margin: 0.4rem 0.4rem;
    	}
    }
  }
  @media(min-width:992px){
  	.views-field-body .field-content {
    	padding:2rem 0;
	}
  	.views-field-body .field-content {
    	h1 {
    	font-size: 3rem;
    	margin: 0px 0.4rem;
    	}
    	h2,h3 {
    	margin: 0.7rem 0.4rem;
    	}
    	p {
    	margin: 0.4rem 0.4rem;
    	}
    }
  }
}


@media(min-width:768px){

}


@media(min-width:1200px){}



h2.block-title {
	font-size:$fontSizeTitle-big;
}


#block-views-accueil-carnet-recherche-block {
	@extend .col-sm-12;
}

#block-views-accueil-entretiens-block {
	@extend .col-sm-12;
}

#block-views-accueil-projets-creation-block {
	@extend .col-sm-12;
}

#block-views-accueil-collection-block {
	@extend .col-sm-12;
}

#block-views-accueil-actualites-block {
	margin-top:20px;
	h2 {
		@extend .col-sm-12;
		display: none;
	}
	.view-footer {
		@extend .col-sm-12;
	}
}

.front {
	.field-content p {
	font-size: $fontSizeContent-normal;
	}
}

.views-field-title .field-content {
	font-size: $fontSizeTitle-normal;
}

// Line 
div.view-footer {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top:18px;
    &:before {
        border-top: 1px solid $greyLightColor;
        content:"";
        margin: 0 auto; 
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    a { 
    	@extend .btn;
        background: #fff; 
        border-color : $greyLightColor;
        font-size: $fontSizeContent-normal;
    }
}

.views-field-field-type-activite .field-content {
	font-size:$fontSizeContent-shame;
}

.views-field-field-no-cahier  .field-content {
	font-size:$fontSizeContent-shame;
}

.views-label-field-responsable, .views-field-field-type-enregistrement .field-content {
	font-size:$fontSizeContent-shame;
}

