#block-block-12 {
    position: relative;
    background: black;
    overflow: hidden;
	#intro {
		padding: 70px;
		z-index: 2;
		position: relative;
		color: white;
		h1 {
			font-size: 5em;
		}
	}
	img {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    z-index: 1;
	    opacity: 0.6;
	}
}

h2.block-title {
	font-size:2.3em;
}

#block-views-accueil-cahier-recherche-block {
	@extend .col-sm-6;
}

#block-views-accueil-carnet-recherche-block {
	@extend .col-sm-6;
}

#block-views-accueil-entretiens-block {
	@extend .col-sm-12;
}

#block-views-accueil-projets-creation-block {
	@extend .col-sm-12;
}

#block-views-accueil-collection-block {
	@extend .col-sm-12;
}

#block-views-accueil-actualites-block {
	margin-top:20px;
	h2 {
		@extend .col-sm-12;
		display: none;
	}
	.view-footer {
		@extend .col-sm-12;
	}
}

.field-content p {
	font-size: 1.3em;
}

.views-field-title .field-content {
	font-size: 1.3em;
}

// Line 
div.view-footer {
    position: relative;
    z-index: 1;
    text-align: center;
    &:before {
        border-top: 1px solid $greyColor;
        content:"";
        margin: 0 auto; 
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    a { 
        background: #fff; 
    }
}