.view-banque-image-accueil {
    position: relative;
    background: black;
    overflow: hidden;
    .views-row-first {
		@extend .container;
    }
	.views-field-body .field-content {
		padding:70px 00px;
		z-index: 2;
		position: relative;
		color: white;
		h1 {
			font-size: 5em;
		}
	}
	.views-field-field-image .field-content img {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    z-index: 1;
	    opacity: 0.6;
	}
}

h2.block-title {
	font-size:$fontSizeTitle-big;
}

#block-views-accueil-cahier-recherche-block {
	@extend .col-sm-6;
}

#block-views-accueil-carnet-recherche-block {
	@extend .col-sm-6;
}

#block-views-accueil-entretiens-block {
	@extend .col-sm-12;
}

#block-views-accueil-projets-creation-block {
	@extend .col-sm-12;
}

#block-views-accueil-collection-block {
	@extend .col-sm-12;
}

#block-views-accueil-actualites-block {
	margin-top:20px;
	h2 {
		@extend .col-sm-12;
		display: none;
	}
	.view-footer {
		@extend .col-sm-12;
	}
}

.front {
	.field-content p {
	font-size: $fontSizeContent-big;
	}
}

.views-field-title .field-content {
	font-size: $fontSizeTitle-normal;
}

// Line 
div.view-footer {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top:18px;
    &:before {
        border-top: 1px solid $greyLightColor;
        content:"";
        margin: 0 auto; 
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    a { 
    	@extend .btn;
        background: #fff; 
        border-color : $greyLightColor;
        font-size: $fontSizeContent-normal;
    }
}

.views-field-field-type-activite .field-content {
	font-size:$fontSizeTitle-small ;
}

.views-field-field-no-cahier  .field-content {
	font-size:$fontSizeTitle-small ;
}

.views-label-field-responsable, .views-field-field-type-enregistrement .field-content {
	font-size:$fontSizeTitle-small ;
}

