.view-section-archeologie, .view-seection-actualites, .view-section-entretiens, .view-section-explorations {
	.field_title {
		font-size: $fontSizeTitle-normal;
	}
	.field_resume {
		font-size: $fontSizeContent-shame;
	}
	.date-display-single, .field_created, .field_date_publication, .field-name-field-date-actualite {
		font-family: $subFont, sans-serif;
		color: #AAB1B9;
		font-size: $fontSizeTitle-extrasmall;
	}
	.field_source_nouvelle {
		font-family: $subFont, sans-serif;
		color: #AAB1B9;
		font-size: $fontSizeTitle-extrasmall;
	}
	.field_type_activite {
		color:$secondColor;
		font-family: $subFont, sans-serif;
		font-size: $fontSizeTitle-extrasmall;
	}
	.field_individu {
		color:$secondColor;
		font-family: $subFont, sans-serif;
		font-size: $fontSizeTitle-extrasmall;
	}
}
/* Sur la liste Equipe, graphiquement, 
   le champ titre correspond au nom de l'individu, 
   et le champ individu correspond au resume */

.view-liste-equipe-alp .field_individu {
  font-size: $fontSizeContent-shame;
}
