
article.node {
	.field-name-field-resume, .field-name-body {
		font-size: $fontSizeContent-big;
	}
}

// Actualites et + 
.node-type-actualite, .node-type-archeologie, .node-type-exploration {
	.region-header {
	    position: relative;
	    background: black;
	    overflow: hidden;
	}
	#block-cck-blocks-field-image {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    z-index: 1;
	    opacity: 0.6;
	}
	#block-cck-blocks-field-image img {
		width:100%;
	}
	.field-name-title-field {
		font-family: $mainFont, sans-serif; 
		font-size: 3em;
		padding: 130px 0px 20px 0px;
		z-index: 2;
		position: relative;
		color: white;
		//@extend .col-sm-8, .col-sm-offset-1;
		@extend .container;
		.field-label {
			display:none;
		}
		.field-item  {
			@extend .col-sm-8;
		}
	}
	@media(max-width:767px) {
		.field-name-title-field {
			font-size: 2rem;
			padding: 100px 0px 20px 20px;

		}
	}
}

.node-type-exploration {
	article {
		@extend .row;
	}
	.field-collection-container {
		@extend .col-md-8;
	}
	.field-name-body {
		font-size:$fontSizeContent-big;
		@extend .col-md-8,.col-sm-10;
	}
	.field-name-field-citation-biblio {
		@extend .col-sm-8,.col-sm-10;
	}
	.field-name-field-ref-biblio {
		@extend .col-sm-8,.col-sm-10;
	}
	.action-links {
		display:none;
	}
}


.field-name-field-auteur-1,
.field-name-field-responsable {
	font-size: $fontSizeTitle-small ;
	.field-collection-view {
		border:none;
	}
	.field-label {
		display:inline;
	}
	.field-items {
		display: inline-block;
		/*line-height: 0rem;*/
	}
	.field-items, .field {
		display:inline;
	}
	.field-item {
		display:inline;
		margin-bottom:0px !important;
	}
	.field-collection-view-links {
		display:none;
	}
	.field-name-field-individu {
		font-weight:700;
		display:block;
	}

}

.field-collection-item-field-createur {
  .field-name-field-individu {
    font-weight:700;
    display:block;
  }
}
/* Grossir la taille des createurs sur la Fiche de collection */
.node-type-fiche-collection {
  .field-collection-item-field-createur {
    .field-name-field-individu {
      font-size: 20px;
    }
    .field-name-field-statut-individu-createur {
      font-size: 16px;
    }
  }
}

.node-fiche-collection .field-name-field-auteur-1 .field-items .field-item {
    display:block;
    margin-bottom:0px !important;
  }

.node-type-fiche-collection .field-name-field-citation-biblio .field-label {
  margin-bottom:0;
  margin-top:0;
}
.field-name-field-citation .field-label,
.field-name-field-citation .field-items {
  font-size: 1.2rem;
}
.field-name-field-ref-biblio {
  margin-bottom: 2rem;
}

.field-name-field-ref-biblio .node-biblio header,
.field-name-field-ref-biblio .node-biblio footer {
  display: none;
}
/* Override biblio.css (Biblio Module provides its own style instead of using the stylesheet)
*/
.biblio-title {
  font-family: "brandon-grotesque", sans-serif !important;
  color: #3B495A !important;
}


// About 
//.page-node-346, .page-node-373 {
//	article {
//		@extend .row;
//	}
//	.field-name-body {
//		font-size:$fontSizeContent-big;
//		@extend .col-sm-8;
//	}
//}

.view-actualites-bloc-autres {
	.views-row {
		margin-bottom: 15px;
	}
}
.node-archeologie, .node-actualite {
	margin-top: 10px;
}


// Entretiens 
.node-type-entretien {
	.region-content-top {
		@extend .col-sm-12;
	}
	.field-name-field-type-enregistrement {
		.field-label {
			display: none;
		}
		.field-item {
			font-size: $fontSizeTitle-small;
			color: $greyColor;
			margin-top: 20px;
			font-family: $subFont, sans-serif;

		}
	}
	.field-name-title-field {
		.field-label {
			display: none;
		}
		.field-item {
			font-size: $fontSizeTitle-extra;
			font-family: $mainFont, sans-serif;
			color: $mainColor;

		}
	}
	.node-video {
		.field-name-body {
				font-size: $fontSizeContent-normal !important;
			.field-label {
				display: none;
			}
		}
	}
	
	.field-name-field-auteur-2 {
		margin: 10px 0px;
		font-size: $fontSizeContent-normal;
		font-family: $mainFont, sans-serif;
	}
	.field-name-field-date-publication {
		font-size:$fontSizeTitle-extrasmall;
	}
	.well {
		background-color:white;
		border-radius:0px;
		padding:12px;
	}
	.field-name-body {
		font-size: $fontSizeContent-normal;
	}
	.view-interviewer-sur-entretien {
		.views-field-title {
			margin-bottom: 0.9rem;
				.field-content {
				font-size: $fontSizeTitle-small;
				
			}
		}
		.views-field-body {
			font-size: $fontSizeContent-small;
		}
	}

}



// Archeologie
#block-views-archeologie-autre-block {
	.views-field-field-auteur-1 {
		.field-collection-view {
			margin:0px;
			padding:5px 0px;
		}
		.field-name-field-statut-individu-auteur {
			display: none;
		}
	}
}


#block-views-interviewer-sur-entretien-block {

}

/**/
.node-fiche-collection.contextual-links-region{
	@extend .col-sm-4;
}

.node-video header {
	display:none;
}

// Contenu Connexes
.view-contenus-vs-entretien {
		@extend .row;
	.views-row {
		@extend .col-sm-4;
	}
}

// NODE 
.node-type-entree-carnet {
	.view-entr-e-de-carnet-sidebar- {
		padding-top:1rem;
		.views-field-title:first-child .field-content {
			font-size:$fontSizeTitle-small;
		}
		.views-field-title {
			line-height:1.4rem;
			.field-content {
				font-size:$fontSizeTitle-extrasmall;
				margin-bottom:$margin-bottom-title;
			}
		}
		.field-name-field-individu {
			font-weight:700;
			margin-top:1rem;
		}
	}
}

.field-name-field-statut-individu {
    /* Si statuts multiples, ne pas mettre sur une meme ligne */
	.field-item {
		display:block;
	}
	.field-name-field-site-internet, .field-name-field-e-mail {
		font-size:$fontSizeContent-big;
	}
	h2.title {
		font-size: $fontSizeTitle-normal;
	}
}
// Node Exploration 
.node-type-exploration {
	// .field-name-field-image {
	// 	.field-label {
	// 		display:none;
	// 	}
	// }
	// .field-name-title-field {
	// 	.field-label {
	// 		display:none;
	// 	}
	// 	.field-items {
	// 		font-size:$fontSizeTitle-big;
	// 		font-family:$mainFont;
	// 	}
	// }
}

.node-individu {
  .field-name-field-site-internet {
    margin-top:0;
  }
  .field-type-image,
  .field-name-field-site-internet,
  .field-name-field-statut-individu {
      margin-bottom:1rem;
  }
}

/* Separer les rangees possedant des images */
.view-section-explorations,
.view-liste-equipe-alp {
  .row {
    margin-bottom: 2em;
  }
}
