footer {
	background-color: $mainColor;
	color: white;
	h2 {
		font-size: $fontSizeTitle-normal;
	}
	h2.block-title {
		font-size: $fontSizeTitle-normal
	}
	li {
		a {
			color:white;
		}
	}
	p {
		font-size:$fontSizeContent-normal;
	}
	.region-footer {
		@extend .row;
	}
	#block-block-11 {
		@extend .col-md-4;
	}
	#block-menu-menu-menu-secondaire {
		@extend .col-md-4;
	}
}