footer {
	background-color: $mainColor;
	color: white;
	padding-top:5px;
	h2 {
		font-size: 1.7em;
	}
	li {
		a {
			color:white;
		}
	}
	.region-footer {
		@extend .row;
	}
	#block-block-11 {
		@extend .col-md-4;
	}
	#block-menu-menu-menu-secondaire {
		@extend .col-md-4;
	}
}