/*=== NAVBAR ===*/
.navbar-warpper {
	background-color:$mainColor;
	font-family: $subFont,sans-serif;
}
.navbar-default {
	background-color:$mainColor;
	border-color: $mainColor;
	margin-bottom:0px;
	.navbar-nav  > li > a {
		color:white;
		font-size: 1.3em;
		  &:hover {
		  	color: white;
		  }
	}
	.navbar-nav > .active > a {
		background-color:$mainColor;
		color:white;
		text-decoration: underline;
	}
	.navbar-brand {
		color:white;
		font-size: 1.3em;
	}
	.logo img {
		width:50px;
	}
}

.navbar-nav li a {
	font-size:1em;
}


/*=== END NAVBAR ===*/

/*=== SUPERFISH MENU ===*/
@media (min-width: 768px) {
  #block-superfish-1 {
    float: left;
    width: 76%;
    position: absolute;
    top: 18px;
    right: 0;
  }
  #superfish-1 {
    font-family: "brandon-grotesque", sans-serif;
    padding-top: 15px;
    a {
    font-size: 1.4em;
    color: white;
    }
    li {
      float: left;
    }
    li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 20px;
      position: relative;
      display: block;
    }
  }
}

/*test*/